In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ay_df_all.csv')
df

      Time id       Material  Material_Id  Quantity  Total_Value
0           7  S21-010448-04      41504.0       9.0   3615772.83
1           8  S21-010448-04      41504.0      19.0   7418193.30
2           9  S21-010448-04      41504.0      17.0   6579470.22
3          10  S21-010448-04      41504.0       9.0   3425975.42
4          11  S21-010448-04      41504.0       7.0   2673483.99
...       ...            ...          ...       ...          ...
3158       35    AC37-000008         86.0      33.0     95237.05
3159       36    AC37-000008         86.0      44.0    156749.66
3160       37    AC37-000008         86.0      44.0    150426.96
3161       38    AC37-000008         86.0      35.0    119426.41
3162       39    AC37-000008         86.0       3.0     10165.35

[3163 rows x 5 columns]

# Modelling

# Naive Forecasting

In [3]:

# Apply Naive forecasting within each group
df['Naive Forecast_qty'] = df.groupby('Material')['Quantity'].shift(1)

# Display the DataFrame with the Naive Forecast column
print(df)

      Time id       Material  Material_Id  Quantity  Total_Value  \
0           7  S21-010448-04      41504.0       9.0   3615772.83
1           8  S21-010448-04      41504.0      19.0   7418193.30
2           9  S21-010448-04      41504.0      17.0   6579470.22
3          10  S21-010448-04      41504.0       9.0   3425975.42
4          11  S21-010448-04      41504.0       7.0   2673483.99
...       ...            ...          ...       ...          ...
3158       35    AC37-000008         86.0      33.0     95237.05
3159       36    AC37-000008         86.0      44.0    156749.66
3160       37    AC37-000008         86.0      44.0    150426.96
3161       38    AC37-000008         86.0      35.0    119426.41
3162       39    AC37-000008         86.0       3.0     10165.35

      Naive Forecast_qty
0                    NaN
1                    9.0
2                   19.0
3                   17.0
4                    9.0
...                  ...
3158                30.0
3159                33.0
3160                44.0
3161                44.0
3162                35.0

[3163 rows x 6 columns]

# Simple Average for 3 month and 6 months

In [4]:
# Apply Simple Average forecasting within each group for 3-month and 6-month periods
df['Simple Average 3-month_qty'] = df.groupby('Material')['Quantity'].rolling(window=3).mean().reset_index(0, drop=True)
df['Simple Average 6-month_qty'] = df.groupby('Material')['Quantity'].rolling(window=6).mean().reset_index(0, drop=True)

      Time id       Material  Material_Id  Quantity  Total_Value  \
0           7  S21-010448-04      41504.0       9.0   3615772.83
1           8  S21-010448-04      41504.0      19.0   7418193.30
2           9  S21-010448-04      41504.0      17.0   6579470.22
3          10  S21-010448-04      41504.0       9.0   3425975.42
4          11  S21-010448-04      41504.0       7.0   2673483.99
...       ...            ...          ...       ...          ...
3158       35    AC37-000008         86.0      33.0     95237.05
3159       36    AC37-000008         86.0      44.0    156749.66
3160       37    AC37-000008         86.0      44.0    150426.96
3161       38    AC37-000008         86.0      35.0    119426.41
3162       39    AC37-000008         86.0       3.0     10165.35

      Naive Forecast_qty  Simple Average 3-month_qty  \
0                    NaN                         NaN
1                    9.0                         NaN
2                   19.0                   15.000000
3                   17.0                   15.000000
4                    9.0                   11.000000
...                  ...                         ...
3158                30.0                   39.000000
3159                33.0                   35.666667
3160                44.0                   40.333333
3161                44.0                   41.000000
3162                35.0                   27.333333

      Simple Average 6-month_qty
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
...                          ...
3158                   35.833333
3159                   39.000000
3160                   41.000000
3161                   40.000000
3162                   31.500000

[3163 rows x 8 columns]

In [5]:
df

,Time id,Material,Material_Id,Quantity,Total_Value,Naive Forecast_qty,Simple Average 3-month_qty,Simple Average 6-month_qty
0,7,S21-010448-04,41504.0,9.0,3615772.83,NaN,NaN,NaN
1,8,S21-010448-04,41504.0,19.0,7418193.30,9.0,NaN,NaN
2,9,S21-010448-04,41504.0,17.0,6579470.22,19.0,15.000000,NaN
3,10,S21-010448-04,41504.0,9.0,3425975.42,17.0,15.000000,NaN
4,11,S21-010448-04,41504.0,7.0,2673483.99,9.0,11.000000,NaN
...,...,...,...,...,...,...,...,...
3158,35,AC37-000008,86.0,33.0,95237.05,30.0,39.000000,35.833333
3159,36,AC37-000008,86.0,44.0,156749.66,33.0,35.666667,39.000000
3160,37,AC37-000008,86.0,44.0,150426.96,44.0,40.333333,41.000000
3161,38,AC37-000008,86.0,35.0,119426.41,44.0,41.000000,40.000000
3162,39,AC37-000008,86.0,3.0,10165.35,35.0,27.333333,31.500000